/* Write your CSS here */
.eventItem {
  width: 90%;
  list-style-type: none;
}
.eventButton {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.eventImage {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 10px;
}
.active {
  border: 2px solid #2dd4bf;
  border-radius: 10px;
}
.name {
  color: #f8fafc;
}
.location {
  color: #f8fafc;
}
